{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
    <div>
        <h1>{% block title %}{{ page_header }}{% endblock %}</h1>
        <form method="post">
        {% csrf_token %}
        {% bootstrap_field form.first_name %}
        {% bootstrap_field form.last_name %}
        {% bootstrap_field form.username %}
        {% bootstrap_field form.new_password1 %}
        {% bootstrap_field form.new_password2 %}
        {% bootstrap_button button_type='submit' content=form_action %}
        </form>
    </div>
{% endblock %}