{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">{% translate "Username" %}</th>
            <th scope="col">{% translate "Full name" %}</th>
            <th scope="col">{% translate "Date joined" %}</th>
            <th scope="col">{% translate "Actions" %}</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined }}</td>
            <td>
                <a href="{% url 'user_update' user.id %}">Edit</a><br>
                <a href="{% url 'user_delete' user.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <h3>{% translate "No users" %}</h3>
        {% endfor %}
    </table>
{% endblock %}